@model HousekeeperApp.ViewModels.Users.EditUserViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3" style="background-color:#F0F2F5">
            <div class="card-body p-4 p-md-5">
                <form asp-action="Edit">
                    <h4>User</h4>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label class="control-label">Role</label>
                        <div class="form-check">
                            <input class="form-check-input  @if (Model.Role=="Housekeeper") {<text>checked</text>}" type="radio" asp-for="Role" name="role" value="Housekeeper">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Housekeeper
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input  @if (Model.Role=="Client") { <text>checked</text>}" type="radio" asp-for="Role" name="role" value="Client">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Clientch
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
